/* Base file modifications */
body:has(.hero) .bd-sidebar-primary,
body:has(.hero) .sidebar-toggle,
body:has(.hero) .bd-sidebar-secondary {
    display: none !important;
}

body:has(.hero) .prev-next-footer {
    display: none;
}

body:has(.hero) .bd-article-container {
    max-width: unset !important;
}

body:has(.hero) .bd-page-width {
    max-width: unset !important;
}

body:has(.hero) .bd-article {
    display: flex;
    flex-direction: column;
    padding: 0;
}

body:has(.hero) .bd-container {
    flex-direction: column;
}

body:has(.hero) .bd-article > section > h1 {
    display: none;
}

@media (min-width: 960px) {
    body:has(.hero) .bd-header-article {
        justify-content: center;
    }

    body:has(.hero) .header-article-items,
    body:has(.hero) .doc-body > section {
        max-width: 80rem !important;
        align-self: center;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
    }

    body:has(.hero) .doc-body > section.hero,
    body:has(.hero) .doc-body > section.banner {
        max-width: 90rem !important;
    }
}

/* -------------- Page styles ---------------- */
.doc-body {
    display: flex;
    flex-direction: column;
}

.hero {
    width: 100%;
    display: grid;
    grid: auto-flow / 1fr .8fr;
    gap: 20px;
    align-items: center;
    background: url(../../_static/images/hero-radial.svg) no-repeat top -750px right -450px / 1500px #202124;
    border-radius: 24px;
    padding-left: 5%;
}

.hero h1 {
    font: 700 52px 'Google Sans';
    color: white;
    margin-bottom: 50px;
}

.hero-image {
    background: none !important;
}

.button-primary {
    background: #1A73E8;
    border-radius: 4px;
    color: white;
    font: 400 14px 'Google Sans';
    text-decoration: none;
    padding: 9px 26px;
    transition: background-color .2s, border .2s, box-shadow .2s;
    width: max-content;
}

.button-primary:hover {
    background-color: #1765cc;
    color: white;
    transition: background-color .2s, border .2s, box-shadow .2s;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
}

.button-primary:active {
    background-color: #185abc;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
}

.button-primary:visited {
    color: white;
    text-decoration: none;
}

.banner {
    background: #E8F0FE;
    border-radius: 24px;
    margin-block: 80px 100px;
    padding-inline: 50px;
    padding-bottom: 24px;
}

.three-up {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    gap: 24px;
    padding-inline: 60px;
    margin-top: 20px;
}

.doc-body .image-section h3 {
    font: 500 32px 'Google Sans';
    margin-top: 0;
}

.doc-body p,
.doc-body ul {
    font: 400 16px 'Roboto';
    color: #5F6368;
    line-height: 24px;
}

.image-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 85px;
    margin-bottom: 100px;
}


.image-section img {
    background-color: transparent !important;
}

.image-section.image-right {
    flex-direction: row-reverse;
}

.image-section .text-body {
    padding-inline: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-section .text-body *:last-child {
    margin-bottom: 0;
}

.image-section li:not(:last-of-type) {
    margin-bottom: 12px;
}

.image-section .button {
    margin-top: 12px;
}

@media (max-width: 1240px) {
    .hero h1 {
        font-size: 42px;
        margin-bottom: 24px;
    }

    .image-section {
        gap: 32px;
    }

    .image-section img {
        min-width: 50%;
    }

    .image-section .text-body {
        padding-inline: 0;
    }
}

@media (max-width: 1020px) {
    .hero h1 {
        font-size: 32px;
    }

    .image-section {
        margin-bottom: 40px;
    }
}

@media (max-width: 860px) {
    .three-up {
        grid: auto-flow / 1fr;
        padding-inline: 0;
    }

    .three-up h3 {
        margin-top: 8px;
    }
}

@media (max-width: 800px) {
    .hero {
        grid: auto-flow / 1fr;
        padding: 24px 24px 0 24px;
    }

    .hero img {
        justify-self: flex-end;
        margin-right: -16vw;
    }

    .image-section,
    .image-section.image-right {
        flex-direction: column;
        margin-bottom: 80px;
    }

    .image-section h3 {
        margin-top: 0;
    }

    .image-section .button {
        margin-top: 0;
    }
}

html[data-theme="dark"] .banner {
    background: url(../../_static/images/hero-radial.svg) no-repeat bottom -1050px left -350px / 1500px #202124;
}

html[data-theme="dark"] .doc-body p,
html[data-theme="dark"] .doc-body ul {
    color: #9aa0a6;
}

html[data-theme="dark"] .button-primary {
    background-color: #8ab4f8;
    color: #121212;
}

html[data-theme="dark"] .button-primary:hover {
    background-color: #98bdf9;
    color: #121212;
}

html[data-theme="dark"] .button-primary:active {
    background-color: #aecbfa;
    color: #121212;
}
