# Sphinx-related requirements.
sphinx
myst-nb

# Packages required for notebook execution
matplotlib
penzai
scikit-learn

# Needed to conver from Jupyter to markdown
jupytext

# install jax-ai-stack from current directory
.
